@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
  background-color:#00839c;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Poppins,arial,sans-serif;
}

.container {
     margin: 0 auto;
}
.btn-info{
	cursor:pointer;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 font-weight: 700;
 font-family: Poppins,arial,sans-serif;
 font-size: 28px;

}

.form-control {
    border-radius: 12px;
    border-color: #808080;
}

.wrapper {
    text-align: center;
}
.tamanho{
    width: 81%;
    margin-left:9%;
    margin-top: 30px;
}
.btn-info{
   width: 76%;
   border-radius: 14px;
   margin-top: 30px;
   font-weight: 400;
   font-size: 20px;
}
.text-center .img-responsive {
    margin: 0 auto;
}
.altura{
    margin-top: 30px;
}
.bottom{
    margin-bottom: 100px;
}
.top{
   margin-top: 20px;
}
.box {
-webkit-box-shadow: 0px 0px 225px -80px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 225px -80px rgba(255,255,255,1);
box-shadow: 0px 0px 225px -80px rgba(255,255,255,1);
}
#userName{                                              /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
    padding-left:55px!important;
    background-repeat: no-repeat!important;
    background-position-y: 5px!important;
    background-position-x: 10px!important;
    background-image: url(img/user.png)!important;
    background-size: 25px;                    /* Para não repetir o background ao longo de topo o componente */
}
#userPassword{                                              /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
    padding-left:55px!important;
    background-repeat: no-repeat!important;
    background-position-y: 5px!important;
    background-position-x: 10px!important;
    background-image: url(img/password.png)!important;
    background-size: 25px;                    /* Para não repetir o background ao longo de topo o componente */
}
.img1{
    margin-top: 30px;
}
@media screen and (max-width: 480px) {

  .top {
    margin-left: -461px;
}
}
